<div>
    <div class="d-flex flex-column bd-highlight mb-3">






<form #f="ngForm">

    <div class="d-flex flex-column bd-highlight mb-3">
        <mat-form-field>
            <input matInput placeholder="Name"
            class="form-control"
            ngModel 
            required
            name="Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Address"
            class="form-control"
            ngModel 
            required
            name="Address">
        </mat-form-field>
        <button (click)="submit()" mat-button>Submit</button>
      </div>









</form>


</div>